<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profile']">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="parent">
    <div class="one">
      
      <img src="../../assets/marvel-logo.png" alt="">
      <ion-button style="
      font-size: 10px;
      margin-top: 10em;
      margin-left: 2em;" (click)="gotoMarvel()">Ver Personajes Marvel</ion-button>      
    </div>
    <div class="two">
      <img src="../../assets/dc-logo.png" alt="" style="position: fixed;
      bottom: 1%;
      width: 50%;
      right: 5%;">
      <ion-button style="
      font-size: 10px;
      margin-top: 26.5em;
      margin-left: 11em; "  (click)="gotoDC()">Ver Personajes DC</ion-button>     
    </div>
    
  </div>
</ion-content>
