<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  
    <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            
          <ion-item>
            <ion-label>Genero</ion-label>
            <ion-select placeholder="Seleccinar">
              <ion-select-option value="masculino">Masculino</ion-select-option>
              <ion-select-option value="femenino">Femenino</ion-select-option>
              <ion-select-option value="blank">Prefiero no decirlo</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-col>
        </ion-row>
      

        <ion-row>
          <ion-col>
            <ion-button (click)="save()" style="text-align: center;">
              Guardar
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
