<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nombre: Juan Perez</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <p>Correo:algo@algo.com</p>
      <p>Genero: Prefiero no decirlo</p>
      

      <ion-button [routerLink]="['/editprofile']">Editar </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
