<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="data.image" />
    <ion-card-header>
      <ion-card-subtitle>Nombre completo: {{data.fullName}}</ion-card-subtitle>      
    </ion-card-header>
    <ion-card-content>
      <p>Primera aparicion: {{data.firstAppearance}}</p>
      <p>Afiliaciones: {{data.groupAffiliation}}</p>
    </ion-card-content>
  </ion-card>

  <video
  crossorigin
  controls
  controlslist="nodownload nofullscreen"
  [src]="data.video"
  #player
></video>
</ion-content>
